{{!  Modal for entering lane (on the right)}}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="">Atlantic Packaging</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/addlane">Add Lane</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/*">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Completed Loads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Analytics(alpha)</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
          <h1>Update Loads</h1>

<section class="row text-center placeholders">
            
            <div class="col-sm-6">
              <form action="/api/truckloads" method="PUT">
              <div class="form-group">
                <label for="formGroupExampleInput">ID #</label>
                  <input type="text" class="form-control" id="idNumber" name="id" placeholder="ID #">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Status</label>
                  <input type="text" class="form-control" id="status" name="status" placeholder="Status">
              </div>
              {{! Button trigger Update Truckload modal }}
                  <button id="buttonUpdateTruck" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">
                  Update Truckload
                  </button>
              </form>
              </div>
<div class="col-sm-6">
          <form action="/api/truckloads" method="POST">
                  <div class="form-group">
                    
                    <label for="exampleInputEmail1">Lane </label>
                      <input name="lane" type="text" class="form-control"
                      id="lane" placeholder="City, ST"/>
                  </div>
                  <div class="form-group">                    
                    <label >PICKUP DATE</label>
                      <input name="pickUpDate" type="text" class="form-control"
                          id="exampleInputPassword1" placeholder="(MM/DD)"/>                  
                  </div>
                  <div class="form-group">  
                    <label >PICKUP NUMBER</label>
                      <input name="pickUpNumber" type="text" class="form-control"
                          id="pickUpNumber" placeholder="PICKUP #"/>
                  </div>
                  <div class="form-group">
                    <label >PO #</label>
                      <input name="poNumber" type="text" class="form-control"
                          id="poNumber" placeholder="PO #"/>
                  </div>
                  <div class="form-group">

                    <label >Additional Info</label>
                      <input name="additionalInfo" type="text" class="form-control"
                          id="additionalInfo" placeholder="(ex. drop off info)"/>
                  </div>
              {{! Button trigger New Lane modal  }}
                <button id="buttonEnterLane" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
                Enter Lane
                </button>
              </form>



</div>
</section>
 

{{! Table of loads }}

